* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main-width {
  max-width: 360px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.icon {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
