.bath-datebox {
  display: flex;
  align-items: center;
  margin-right: 30px;
  span {
    font-weight: 700;
  }
}

.bath-commentbox {
  min-width: 70%;
  span {
    display: block;
    padding: 4px 0;
  }
}
