.diary-row {
  display: flex;
  flex-wrap: nowrap;
}

@media #{$phone} {
  .diary-row {
    flex-wrap: wrap;
  }
}

.diary-datebox {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  span {
    font-weight: 700;
  }
  img {
    margin-right: 20px;
  }
}

.diary-infobox {
  margin-right: 20px;
}
