.was-or-not {
  display: flex;
  align-items: center;
}

.doc-visit {
  display: flex;
  align-items: center;
}

@media #{$phone} {
  .doc-row {
    flex-wrap: nowrap;
  }
  .doc-visit {
    flex-flow: column;
    align-items: flex-start;
  }
  .doctor-datebox,
  .doctor-hourbox {
    padding-bottom: 5px;
  }
}

.deletebox {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-left: 10px;
  border-left: 1px solid $black;
}

.doctor-datebox,
.doctor-hourbox  {
  display: flex;
  align-items: center;
  margin-right: 30px;
  span {
    font-weight: 700;
  }
}

.doctor-hourbox {
  img {
    margin-left: 0;
  }
}

.doctor-infobox {
  display: flex;
  flex-direction: column;
  margin: 0;
  span:nth-child(1) {
    font-weight: 700;
  }
  span {
    padding: 2px 0;
  }
}

.canceled {
  color: $gray;
}
