main {
  flex: 1;
}

.header {
  background: $light-gray;
}

.main-header {
  display: flex;
  align-items: center;
  padding: 35px 0;
}

.hp-logo {
  padding: 0 100px 0 40px;
}

@media #{$tablet} {
  /*media queries dla headera*/
  .logo {
    padding: 0 40px;
  }
}

.foto {
  margin: 0 20px 0 10px;
  border: 1px solid $gray;
}

.baby-name {
  padding: 0 0 5px;
  font-size: 32px;
}

.baby-age {
  font-size: 18px;
}

@media #{$phone} {
  /*media queries dla headera*/
  .main-header {
    padding: 10px 0;
  }

  .hp-logo {
    display: none;
  }

  .foto {
    margin: 0 10px;
  }

  .baby-name {
    padding: 0 0 5px;
    font-size: 20px;
  }

  .baby-age {
    font-size: 14px;
  }
}

/* settings widoczne tylko na desktopie*/
.settings {
  margin-left: auto;
  padding: 10px 50px 10px 40px;
  background: url("../img/settings-dg.png") no-repeat left center transparent;
  background-size: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: $gray;
  &:hover {
    background: url("../img/settings-b.png") no-repeat left center transparent;
    background-size: 32px;
    color: $black;
  }
}

/*Na tablecie widoczne ham-menu*/
.ham-menu {
  display: none;
  margin-left: auto;
  padding: 10px 20px;
  font-size: 20px;
  color: $gray;
  cursor: pointer;
  .ham-menu-title {
    margin-right: 5px;
    text-transform: uppercase;
  }
  &:hover {
    color: $black;
  }
}

.ham-icon:after {
  content:'\2630';
}

.ham-close-icon:after {
  content:'\d7';
  position: relative;
  top: 3px;
  font-size: 32px;
}

@media #{$tablet} {
  .settings {
    display: none;
  }

  .ham-menu {
    display: block;
  }
}

@media #{$phone} {
  .settings {
    display: none;
  }

  .ham-menu {
    display: block;
    padding: 10px;
  }
}

.breadcrumbs {
  background: $white;
  padding: 15px;
  font-size: 14px;
}

.home-page-bc {
  margin-left: 25px;
  color: $turquoise;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.right-arrow {
  display: relative;
  vertical-align: middle;
  width: 30px;
}

@media #{$phone} {
  .breadcrumbs {
    padding: 12px 10px 10px;
  }

  .home-page-bc {
    margin-left: 0;
  }

  .right-arrow {
    width: 20px;
  }
}

.container {
  display: flex;
  flex-flow: nowrap;
}

.navi {
  min-width: 320px;
  padding: 30px 10px;
  .navi-title {
    display: block;
    padding: 20px 0;
    background: $light-orange;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
  }
  li {
    background: $white;
    border-bottom: 1px solid $light-gray;
    &:hover {
      background: $orange;
      color: white;
    }
  }
  a {
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    padding: 20px 0 20px 70px;
  }
  .home {
    a {
      background: url("../img/home2-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/home2-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .feed {
    a {
      background: url("../img/feed-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/feed-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .weight {
    a {
      background: url("../img/weight-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/weight-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .diaper {
    a {
      background: url("../img/diaper-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/diaper-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .bath {
    a {
      background: url("../img/bath-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/bath-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .doctor {
    a {
      background: url("../img/doctor-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/doctor-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
  .diary {
    a {
      background: url("../img/diary-b.png") no-repeat 17px center transparent;
      background-size: 36px;
      &:hover {
        background: url("../img/diary-w.png") no-repeat 17px center transparent;
        background-size: 36px;
      }
    }
  }
}

.mobile-menu {
  display: none;
  background: $white;
  a {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: inherit;
    &:hover {
      background: $orange;
      color: $white;
    }
  }
  li {
    border-bottom: 1px solid $light-gray;
  }
  .mob-set {
    border: none;
  }
}

@media #{$tablet} {
  .container {
    justify-content: center;
  }
  .navi {
      display: none;
  }
}

@media #{$phone} {
  .container {
    justify-content: center;
  }
  .navi {
      display: none;
  }

  .mobile-menu a {
    font-size: 16px;
  }
}

.main-content {
  padding: 30px 0;
}

.row {
  display: flex;
  flex-flow: nowrap;
  margin-bottom: 20px;
}

.tile {
  width: 300px;
  height: 100px;
  margin: 0 10px;
  background: $light-orange;
  &:hover {
    background: $orange;
    color: $white;
  }
  div {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 100px;
    text-transform: uppercase;
    font-size: 20px;
    color: inherit;
    cursor: pointer;
  }
}

.feed-opt {
  .feed-btn {
    background: url("../img/feed-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/feed-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

.weight-opt {
  .weight-btn {
    background: url("../img/weight-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/weight-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

.diaper-opt {
  .diaper-btn {
    background: url("../img/diaper-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/diaper-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

.bath-opt {
  .bath-btn {
    background: url("../img/bath-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/bath-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

.doctor-opt {
  .doctor-btn {
    background: url("../img/doctor-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/doctor-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

.diary-opt {
  .diary-btn {
    background: url("../img/diary-b.png") no-repeat 25px center transparent;
    background-size: 50px;
    &:hover {
      background: url("../img/diary-w.png") no-repeat 25px center transparent;
      background-size: 50px;
    }
  }
}

@media #{$phone} {
  .main-content {
    padding: 15px 0;
  }
  .tile {
    width: 140px;
    height: 140px;
    margin: 5px;
    div {
      width: 100%;
      padding: 70px 0 0;
      text-align: center;
    }
    span {
      margin: auto;
    }
  }
  .row {
    justify-content: center;
    flex-flow: wrap;
    margin: 0;
  }
  .feed-opt {
    .feed-btn {
      background: url("../img/feed-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/feed-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }

  .weight-opt {
    .weight-btn {
      background: url("../img/weight-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/weight-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }

  .diaper-opt {
    .diaper-btn {
      background: url("../img/diaper-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/diaper-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }

  .bath-opt {
    .bath-btn {
      background: url("../img/bath-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/bath-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }

  .doctor-opt {
    .doctor-btn {
      background: url("../img/doctor-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/doctor-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }

  .diary-opt {
    .diary-btn {
      background: url("../img/diary-b.png") no-repeat center 25px transparent;
      background-size: 50px;
      &:hover {
        background: url("../img/diary-w.png") no-repeat center 25px transparent;
        background-size: 50px;
      }
    }
  }
}

/*form general*/
label {
  display: inline-block;
  width: 100px;
}

input {
  padding: 3px;
  border: none;
  border-bottom: 1px solid $black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.hp-date {
  width: 120px;
  &::-webkit-clear-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

input[type=time] {
  &::-webkit-clear-button {
    display: none;
  }
}

textarea {
  resize: none;
  width: 290px;
  height: 90px;
  padding: 3px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.calendar,
.clock,
.photo,
.video {
  width: 25px;
  margin-right: 5px;
}

.clock {
  margin-left: 15px;
}

@media #{$phone} {
  label {
    display: inline-block;
    width: 60px;
  }

  input {
    padding: 3px;
    border: none;
    border-bottom: 1px solid $black;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  .hp-date {
    &::-webkit-clear-button {
      display: none;
    }
    &::-webkit-inner-spin-button {
      display: none;
    }
  }

  input[type=time] {
    &::-webkit-clear-button {
      display: none;
    }
  }

  textarea {
    resize: none;
    width: 200px;
    height: 90px;
    padding: 3px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
  }

  .calendar,
  .clock,
  .photo,
  .video {
    width: 25px;
    margin-right: 5px;
  }

  .clock {
    margin-left: 15px;
  }
}

.formbox {
  display: none;
  padding: 10px;
  margin: -10px 0 10px 0;
}

.formbox-in-left {
  /*główne okgno z formularzem w ramce*/
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border: 1px solid $gray;
  background: $white;
  font-size: 16px;
  &:before {
    content:'';
    position: absolute;
    top: -18px;
    left: 144px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 0px 12px 10px;
    border-color: transparent transparent transparent $gray;
    transform: rotate(-90deg);
  }
  &:after {
    content:'';
    position: absolute;
    top: -17px;
    left: 144px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 0px 12px 10px;
    border-color: transparent transparent transparent $white;
    transform: rotate(-90deg);
  }
}

.formbox-in-right {
  /*główne okgno z formularzem w ramce*/
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border: 1px solid $gray;
  background: $white;
  font-size: 16px;
  &:before {
    content:'';
    position: absolute;
    top: -18px;
    right: 144px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 0px 12px 10px;
    border-color: transparent transparent transparent $gray;
    transform: rotate(-90deg);
  }
  &:after {
    content:'';
    position: absolute;
    top: -17px;
    right: 144px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 12px 0px 12px 10px;
    border-color: transparent transparent transparent $white;
    transform: rotate(-90deg);
  }
}

.form {
  display: flex;
  flex-direction: column;
}

.feed-start,
.feed-stop,
.feed-breast,
.feed-ml,
.weight-start,
.weight-g,
.diaper-start,
.diaper-pee,
.diaper-poo,
.bath-start,
.doctor-start,
.doctor-who,
.doctor-where,
.diary-start {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.databox {
  display: flex;
  align-items: center;
}

.commentbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.submitbox {
  margin-left: 100px;
}

.submit-btn {
  display: inline-block;
  padding: 10px 52px;
  border: none;
  background: $orange;
  text-transform: uppercase;
  color: $white;
  cursor: pointer;
}

.cancel-btn {
  display: inline-block;
  margin: 10px 52px;
  border: none;
  background: none;
  text-transform: lowercase;
  color: $orange;
  cursor: pointer;
}

.legendbox {
  width: 25%;
  font-size: 14px;
  color: $gray;
}

.legend-title {
  display: inline-block;
  padding-bottom: 4px;
  border-bottom: 1px solid $gray;
}

.legend-set {
  display: flex;
  align-items: center;
  &:first-of-type {
    margin-top: 10px;
  }
}

.legend-ico {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 5px 10px 0 0;
  padding-top: 4px;
  border: 1px solid $gray;
  border-radius: 50%;
  text-align: center;
}

/*feed form*/
.required {
  font-weight: 700;
}

/*fake radiobuttons*/
.breast-rbcl-text,
.poo-rbcl-text {
  position: relative;
  top: 3px;
  left: 7px;
}

.breast-rbcl,
.poo-rbcl {
	width: 25px;
	height: 25px;
	background: none;
  border: 1px solid black;

	border-radius: 100%;
	position: relative;
  z-index: 5;
}

.breast-rbcl label,
.poo-rbcl label {
	display: block;
	width: 23px;
	height: 23px;
	border-radius: 100px;

	cursor: pointer;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;

}

input[type=radio] {
  display: none;
}

.breast-rbcl input[type=radio]:checked + label,
.poo-rbcl input[type=radio]:checked + label {
  background: url("../img/check-2x-b.png") no-repeat center center transparent;
  background-size: 18px;
}

.rbcl-margin {
  margin-left: 10px;
}

.rbcl-text-hide {
  display: none;
}

/*fake radiobuttons*/

.milliliters {
  width: 40px;
  margin-right: 5px;
  &::-webkit-inner-spin-button {
    display: none;
  }
}
/*feed form end*/

/*weight form*/
.grams {
  width: 50px;
  margin-right: 5px;
  &::-webkit-inner-spin-button {
    display: none;
  }
}
/*weight form end*/

/*diaper form*/
.pee-radio {
  width: 25px;
  height: 25px;
  padding-top: 3px;
  border: 1px solid $black;
  border-radius: 50%;
  text-align: center;
}

.pee-checked {
  background: url("../img/check-2x-b.png") no-repeat center center transparent;
  background-size: 18px;
  color: transparent;
}
/*diaper form end*/

/*doctor form*/
input[name="doctor-name"],
input[name="doctor-location"] {
  width: 260px;
}
/*doctor form end*/

/*diary form*/
.diary-ta {
  margin-bottom: 0;
}

.diary-photo,
.diary-video {
  display: flex;
  align-items: center;
  margin-left: 100px;
  color: $turquoise;
  cursor: pointer;
}

.diary-video {
  margin-bottom: 20px;
}
/*diary form end*/

@media #{$phone} {
  .formbox {
    margin: 10px 0;
  }

  .formbox-in-left {
    /*główne okgno z formularzem w ramce*/
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid $gray;
    background: $white;
    font-size: 16px;
    &:before {
      content:'';
      position: absolute;
      top: -18px;
      left: 65px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0px 12px 10px;
      border-color: transparent transparent transparent $gray;
      transform: rotate(-90deg);
    }
    &:after {
      content:'';
      position: absolute;
      top: -17px;
      left: 65px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0px 12px 10px;
      border-color: transparent transparent transparent $white;
      transform: rotate(-90deg);
    }
  }

  .formbox-in-right {
    /*główne okgno z formularzem w ramce*/
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid $gray;
    background: $white;
    font-size: 16px;
    &:before {
      content:'';
      position: absolute;
      top: -18px;
      right: 65px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0px 12px 10px;
      border-color: transparent transparent transparent $gray;
      transform: rotate(-90deg);
    }
    &:after {
      content:'';
      position: absolute;
      top: -17px;
      right: 65px;
      width: 0px;
      height: 0px;
      border-style: solid;
      border-width: 12px 0px 12px 10px;
      border-color: transparent transparent transparent $white;
      transform: rotate(-90deg);
    }
  }

  .feed-start,
  .feed-stop,
  .feed-breast,
  .feed-ml,
  .weight-start,
  .weight-g,
  .diaper-start,
  .diaper-pee,
  .diaper-poo,
  .bath-start,
  .doctor-start,
  .doctor-who,
  .doctor-where,
  .diary-start {
    flex-wrap: wrap;
    width: 260px;
    .databox:last-child {
      margin: 10px 0 0 45px;
    }
  }

  input[name="doctor-name"],
  input[name="doctor-location"] {
    width: 200px;
  }

  .diary-photo,
  .diary-video {
    margin-left: 60px;
  }

  .submitbox {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
  }

  .legendbox {
    display: none;
  }
}

footer {
  background: $gray;
}

.footText {
  padding: 30px 0;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: $light-gray;
}


//----------------
