.log-page-main-width {
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.log-content {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  -webkit-box-shadow: 10px 30px 75px 0px rgba(204,204,204,0.75);
  -moz-box-shadow: 10px 30px 75px 0px rgba(204,204,204,0.75);
  box-shadow: 10px 30px 75px 0px rgba(204,204,204,0.75);
}

@media #{$phone} {
  .log-content {
    margin-top: 0;
  }
}

.log-logo {
  width: 180px;
  padding: 50px 0 20px;
}

.startForm {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: auto;
  border-bottom: 1px solid $light-gray;
}

.logNameLab,
.birthDateLab {
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 400;
  color: $black;
}

.birthDateLab {
  margin-top: 30px;
}

.logName, .birthDate {
  display: block;
  margin: 0 auto;
  padding: 10px 0;
  border-bottom: 1px solid $light-gray;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  &::-webkit-input-placeholder {
    color: $gray;
  }
}

.logName {
  width: 100%;
}

.birthDate {
  text-align: center;
  &::-webkit-clear-button {
    display: none;
  }
  &::-webkit-inner-spin-button {
    display: none;
  }
}

.startFormBtn {
  display: inline-block;
  padding: 15px 40px;
  margin: 30px auto;
  background: $orange;
  border: none;
  font-weight: 700;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
}

.orText {
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 15px;
  background: $white;
  color: $gray;
  font-size: 12px;
  font-weight: 400;
}

.techLink {
  display: inline-block;
  margin: 30px 0 50px;
  text-decoration: none;
  font-weight: 300;
  color: $orange;
}

.log-validation-box {
    margin: 5px 0 0;
    font-size: 14px;
    color: red;
}
