.set-load-data {
  display: block;
  padding: 30px 0;
  border-bottom: 1px solid $light-gray;
}

.set-clear-data {
  display: block;
  padding: 30px 0;
}

.set-load-data,
.set-clear-data {
  img {
    width: 45px;
    margin-right: 20px;
  }
}

.set-load-hotspot,
.set-clear-hotspot {
  display: inline-block;
  padding-left: 70px;
}

.set-load-hotspot {
  background: url("../img/download-b.png") no-repeat 10px center transparent;
  background-size: 45px;
}

.set-clear-hotspot {
  background: url("../img/trash-b.png") no-repeat 10px center transparent;
  background-size: 45px;
}

.set-btn {
  display: inline-block;
  width: 220px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    text-decoration: underline;
  }
}

.load-btn {
  @extend .set-btn;
  border: 1px solid $gray;
  color: $gray;
}

.clear-btn {
  @extend .set-btn;
  background: red;
  color: $white;
}
