.border-error {
  border-bottom: 1px solid red;
}

.error-comment {
  display: block;
  margin: 5px 0 5px 100px;
  color: red;
  font-size: 14px;
}

.neg-t-margin {
  margin: -15px 0 20px 100px;
}

.max-l-margin {
  margin: -15px 0 20px 265px;
}

.last-form-item {
  margin-bottom: 15px;
}

@media #{$phone} {
  .error-comment {
    margin-left: 60px;
  }
}
