.weight-datebox {
  display: flex;
  align-items: center;
  margin-right: 30px;
  span {
    font-weight: 700;
  }
}

.weight-infobox {
  display: flex;
  align-items: center;
  margin-right: 20px;
  span {
    font-weight: 400;
  }
}

.weight-differencebox {
  text-align: right;
  span {
    display: block;
    padding: 4px 0;
  }
}

.weight-neutral {
  color: $black;
}

.weight-red {
  color: red;
}

.weight-green {
  color: green;
}

@media #{$phone} {
  .weight-databox {
    margin-right: 10px;
  }
}
