//breakpoints
$desktop: 'screen and (min-width: 960px)';
$tablet: 'screen and (min-width: 631px) and (max-width: 959px)';
$phone: 'only screen and (max-width: 630px)';

//gridassets
$max-width: 100%;
$number-of-columns: 12;
$single-col-width: $max-width / $number-of-columns;

//font color
$black: #000;
$white: #fff;
$orange: #ff8965;
$light-orange: #ffe8e0;
$turquoise: #7fcac5;
$light-turquoise: #e6f4f4;
$gray: #757575;
$light-gray: #e3e3e3;
