//breakpoints
$desktop: 'screen and (min-width: 960px)';
$tablet: 'screen and (min-width: 601px) and (max-width: 959px)';
$phone: 'only screen and (max-width: 600px)';

//font color

$black: #000;
$orange: #ff8965;
$light-orange: #ffe8e0;
$turquoise: #7fcac5;
$light-turquoise: #e6f4f4;
$gray: #757575;
